* {
  background-color: #edeef1;
}

header {
  margin-left: 20px;
  display: grid;
  float: right;
}

.container {
  width: 380px;
  overflow: hidden;
  float: right;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

button {
  float: right;
}

.main-form-area {
  padding-left: 540px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.icons-container {
  text-align: center;
}

.form-container {
  background-color: #fff;
  border: 1px solid #c7c7c7;
  width: 50%;
  height: 100%;
  vertical-align: middle;
  align-items: center;
  padding: 50px;
}

.main-form-area img {
  margin-top: 50px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  width: 500px;
  padding-left: 620px;
}

a {
  text-decoration: none;
  color: #000;
}

ul#horizontal-list {
  min-width: 296px;
  list-style: none;
}

ul#horizontal-list li {
  margin: 0;
  padding: 0;
  display: inline;
  vertical-align: middle;
}

ul#horizontal-list li span {
  vertical-align: middle;
}

ul#horizontal-list li span a img {
  width: 4%;
  margin-top: 0;
}

#signin-button {
  border: #000;
  background-color: #0077c5;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  padding: 12px 25px 12px 25px;
  color: aliceblue;
}

input,
select {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: white;
}

input[type="submit"] {
  width: 100%;
  background-color: #0077c5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

label {
  background-color: white;
}

h2 {
  background-color: white;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h5,
h5 a,
h5 em {
  background-color: white;
  font-size: 12px;
  color: #9c9aac;
  text-align: center;
}

h5 a {
  color: blue;
}

form {
  background-color: white;
}

form > span {
  background-color: white;
  font-size: x-small;
}

#term-and-conditions {
  font-size: 12px;
  color: #9c9aac;
  text-align: center;
}

.li-footer {
  display: inline-block;
  float: left;
  width: 300px;
  padding: 5px;
}

.ul-footer {
  display: flex;
  flex-wrap: nowrap;
  width: 200px;
  align-content: center;
  vertical-align: middle;
}
